@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.AboutPage {
    background-color: #1a1a2e;
    background-image: linear-gradient(45deg, #1a1a2e, #0d0d18);
    font-family: 'Dancing Script', cursive;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin:auto;
    display: grid;
 grid-template-columns: auto ;
  }
  .aboutusTitle{
    color:rgb(192, 243, 74);
    text-align: center;
    border: 2px solid whitesmoke;
    font-family: 'Alkatra', cursive;
font-family: 'Dancing Script', cursive;
    padding: 1rem;
    font-size: 37px;
    font-weight: 800;

  }
  .aboutData {
    z-index: 1;
    background-color: #fff;
    padding: 20px;
    line-height: 3rem;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    height:80%;
    margin-top: 2%;
  }
  
  @media only screen and (max-width: 768px) {
    .aboutData {
      width: 95%;
    }
  }
  @media only screen and (max-width: 450px) {
    .aboutData {
      width: 90%;
      height:90%;
      font-size: 20px;
      line-height: 1.1;
      margin-top: 10%;

    }
  }